


body{

    background:#d9e4ee ;
    display: flex;
    }
    
    .background1{
        background: #003366;
        height: 80px;
        width: 200% ;
    }
     .contatos{
      
      padding: 30px;
      color: white;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      top: 15px;
      left: 300px;
    
     }
     .contatos1{
      
        padding: 30px;
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 15px;
        left: 500px;
      
       }
    
    .cabare{
    color: white;
    margin: 20px 0px 60px 0px;
    padding : 0px;
    height: 300px;
    width: 100%;
    text-align:end;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/capa1.png") ;
    
    }
    
    nav{
        text-align: center;
    }
    nav a{
        color: black;
        display: inline-block;
        padding: 10px 30px ;
        margin: 10px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        border-radius: 25px;
       
       }
       
    
    nav a:hover{
    background-color: #003366;
    color: white;
    }
    
    h2 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .block{
    color:white;
    background: #003366;
    height: 450px;
    width: 100%;
    margin: 30px 0 30px 0;
    padding: 0 0 40px 0;
    
    
    }
    
    /*menu central dos cards agendamendo, preço, imagens */
    
    #users-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        background-color: #72120B;
        width: 100%;
        height: 400px;
    
    }
    
    
    .user-card{
        border: 2px solid #ccc;
        width: 220px;
        height: 320px;
        text-align: center;
        margin: 20px;
        background-color: #003366;
        color: azure;
        
    }
    
    .user-card img{
        width: 140px;
        border-radius: 50%;
    }
    
    .user-agendar{
       gap: 2rem;
    
        
        
    
        
        
    }
    .agendar{
        color: aliceblue;
        text-decoration: none;
       font-family: Arial, Helvetica, sans-serif;
       background: #72120B;
       border: 10px solid #72120B;
       border-radius: 25px;
    }
    
    
    
    /*menu boas vindas*/
    .line {
        width: 10%;
        height: 7px;
        margin: 30px 30px 30px 180px;
        background-color: #72120B;
        transition: width 1s ease-out;
      }
      
      .line:hover {
        width: 50%;
    
      }
     
    .bemvindos{
        background-color: ;
        color: #72120B;
        font-size: 20px;
        font-family:  Arial, Helvetica, sans-serif;
        padding: 10px 10px 10px 180px;
        width: 250px;
        height: 30px;
        margin: 0;
    
    
    }
    
    .boavindas{
        font-family: Arial, Helvetica, sans-serif;
        color: #999999;
        box-sizing: border-box;
        margin: 20px 20px 90px 180px;
        
    }
    
    /*rodape da pag*/
    footer {
        background-color: #003366;
        padding: 20px 0px 150px 0px;
        text-align: center;
        font-size: 14px;
        color: white;
        margin: 20px 0px 0px 0px;
        font-family: Arial, Helvetica, sans-serif;
        position:absolute;
        top: 1800px;
        left: 0;
        bottom: 0;
        width: 100%;
        
     
        z-index: 1;
      }
     .logo-midia img{
        width: 40px;
     }
    .line2{
        height: 2px;
        width: 100%;
        background-color: #999999;
        margin: 20px 0px 10px 0px;
    }
    
    
    .wraper{
        
        
        position:absolute;
        top: 1400px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    
        form{
            height: 200px;
            width: 700px;
            background: white;
            padding: 16px;
            margin: 20px;
           
        }
         
        input, text{
            border: none;
            width: 100%;
            outline: none;
            min-width: 300px;
           border-bottom: 1px solid #ccc;
        }
    
    
        @media(max-width: 600px){
            
            .cabare,  .boavindas, .bemvindos, .contatos, .contatos1 
            { width: 100%;}
    
            
        }
        
        
        
            