


body{

    background:#d9e4ee ;
    display: flex;
    margin: 0;
    }
    
    .cabeçalho{
        width: 100%;
        background-color: #003366;
        text-align: center;
        }
    
    
    .contatos{
      
      padding: 30px;
      color: rgb(251, 251, 251);
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      
    
     }
    
    
    .cabare{
    color: white;
    margin: 20px 0px 60px 0px;
    padding : 0px;
    height: 300px;
    width: 100%;
    text-align:end;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/capa1.png") ;
    
    }
    
    nav{
        text-align: center;
       
    }
    nav a{
        color: black;
        display: inline-block;
        padding: 30px 30px ;
        margin: 20px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        border-radius: 25px;
       
       }
       
    
    nav a:hover{
    background-color: #003366;
    color: white;
    }
    
    h2 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .block{
    color:white;
    background: #003366;
    height: 450px;
    width: 100%;
    margin: 30px 0 30px 0;
    padding: 0 0 40px 0;
    
    
    }
    
    /*menu central dos cards agendamendo, preço, imagens */
    
    #users-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        background-color: #72120B;
        width: 100%;
        height: 400px;
        margin: 0 0 700px 0;
    
    }
    
    
    .user-card{
        border: 2px solid #ccc;
        width: 220px;
        height: 320px;
        text-align: center;
        margin: 20px;
        background-color: #003366;
        color: azure;
        border-radius: 15px;
        
    }
    .user-card:hover{
        background-color: #2d5d89;
        width: 240px;
        height: 340px;
        transition: 0.5s;
       
    }
    
    .user-card img{
        width: 140px;
        border-radius: ;
    }
    
    
    .user-agendar{
       gap: 2rem;
       color: white;
        background: #72120B;
        text-decoration: none;
        border: 30px solid #a79f9e;
        padding: 15px 40px;
        border: 20px;
        border-radius: 25px;
        gap: 3rem;
    }
        .user-agendar:hover{
            background-color: #ccc;
            color: black;
        }
    
        
        
    
    
    /*menu boas vindas*/
    .line {
        width: 10%;
        height: 7px;
        margin: 30px 30px 30px 180px;
        background-color: #72120B;
        transition: width 1s ease-out;
      }
      
      .line:hover {
        width: 50%;
    
      }
     
    .bemvindos{
        background-color: ;
        color: #72120B;
        font-size: 20px;
        font-family:  Arial, Helvetica, sans-serif;
        padding: 10px 10px 10px 180px;
        width: 250px;
        height: 30px;
        margin: 0;
    
    
    }
    
    .boavindas{
        font-family: Arial, Helvetica, sans-serif;
        color: #999999;
        box-sizing: border-box;
        margin: 20px 20px 90px 180px;
        
        
    }
    
    /*rodape da pag*/
    footer {
        
        padding: 20px 0px 0px 0px;
        
        
        color: white;
        margin: 20px 0px 0px 0px;
        font-family: Arial, Helvetica, sans-serif;
        left: 0;
        bottom: 0;
        width: 100%;
        
     
        z-index: 1;
      }
    #footer-content{
        background-color: #003366;
        text-align: center;
        font-size: 14px;
        margin: 50px 0 0 0;
    
    }
    
     .logo-midia img{
        width: 40px;
     }
    .line2{
        height: 2px;
        width: 100%;
        background-color: #999999;
        margin: 20px 0px 10px 0px;
    }
    
    
    .wraper{
        
         font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px solid #ccc ;
        }
    
        form{
            height: 200px;
            width: 600px;
            padding: 16px;
            margin: 20px;
            
           
        }
         
        input, text{
            border: none;
            width: 100%;
            height: 40px;
            outline: none;
            min-width: 300px;
           border-bottom: 1px solid #2d5d89;
        background-color: #a1a5a9;
        border-radius: 15px;
        }
    
      
    
        .register-form{
          margin: 70px 0 300px 0;
          
        }
            
        
    
        @media(max-width: 500px){
            
          .contatos, .contatos1, .background1
            { width: 200%;
                padding: 70px;
                font-size: 50px;
                margin:;
            }
            
         
             }
        
        
    
             @media screen and (max-width: 500px) {
                #footer-content{ 
                    width: 180%;
                    font-size:30px;
                    padding: 50px;
                    margin: 700px 0px 0px 0px;
                   
                }
            
             }
             @media screen and (max-width: 500px){
             #users-container{
                width: 180%;
                height: 1050px;
                padding: 60px 60px 500px 60px;
                margin: 0px 0px 200px 0px;
             }
    
             }
    
             @media screen and (max-width: 500px){
                .user-card{
                    font-size: 30px;
                    padding: 0px;
                    margin: 10px 10px 20px 10px;
                    
                }
             }
    
    
             @media screen and (max-width: 500px){
             .register-form{
             margin: 100px 0 0 0;
             font-size: 50px;
             background-color:;
             }
    }
    @media screen and (max-width: 500px){
        .wraper{
        margin: 200px 0 0 0;
       
        }
    }
    
    
             @media screen and (max-width: 500px){
                .user-card{
                    padding: 30px 230px 290px 170px;
                    font-size: 30px;
                    text-align:  center;
    
                }
             }
    
             @media screen and (max-width: 500px){
                h3{
                   
                    font-size: 40px;
                    width: 150%;
                    
    
                }
             }
    
    
             @media screen and (max-width: 500px){
             .contatos{
                display: inline;
                text-align: end;
                font-size: 20px;
             }
             }
    
    
              @media screen and (max-width: 500px){
              nav a{
                font-size: 50px;
                text-align: center;
                margin:0px;
                
              }
    
              }
    
              
              @media screen and (max-width: 500px){
                nav{
                  width: 200%;
                  
                }
      
                }
    
                @media screen and (max-width: 500px){
                .user-card img{
                   width: 340px;
                   height:300px;
                   border-radius: 50%;
                }
                }
    
                @media screen and (max-width: 500px){
                    .cabeçalho{
                        width: 190%;
                       
                    }
                }
    
                @media screen and (max-width: 500px){
                    .contatos{
                        font-size: 40px;
                    }
                }
    
                @media screen and (max-width: 500px){
                    .table, .bemvindos, .boavindas{
                      text-align:justify;
                      font-size: 50px;
                      
                    }
                }
                @media screen and (max-width: 500px){
                     .bemvindos, .boavindas{
                        width: 150%;
                        padding: 70px;
                        font-size: 55px;
                        margin:;
                    }
                }
    
                @media(max-width: 500px){
            
                    .cabare 
                    { width: 170%;
                        padding: 70px;
                        font-size: 50px;
                        text-align: center;
                    }
                    }
    
                   